.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-item {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
}
