.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box-item {
    width: calc(25% - 20px);
    height: 50px;
    background-color: greenyellow;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}