* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.left-colum {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-large {
    
    height: 150px;
    background-color: hsl(210deg 29.03% 24.31%);
    color: white;
    text-align: center;
    line-height: 150px;
}
.right-colum {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box-small {
    width: calc(50% - 5px);
    height: 50px;
    background-color: hsl(210deg 29.03% 24.31%);
    color: white;
    text-align: center;
    line-height: 50px;
}

