* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0deg 0% 20%);
    color: white;
    padding: 30px 300px 30px 300px;
}
.navbar {
    
}
.navbar-left a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.main, .title {
    max-width: 600px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}
.main {
    background-color: hsl(0deg 0% 95.69%);
}
.bold {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18;
}
.main p {
    margin-top: 20px;
}
.main button {
    margin-top: 30px;
    border: 1px solid transparent;
    color: blue;
}
.main button:hover {
    color: rgb(6, 6, 126);
}
.title {
    background-color: hsl(0deg 0% 97.65%);
}
.title p {
    margin-top: 30px;
}
footer {
    background-color: hsl(0deg 0% 20%);
    text-align: center;
    color: white;
    padding: 30px 300px 30px 300px;
}
