* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    text-align: center;
    justify-content: center;
}
.container h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: hsl(196.18deg 77.39% 54.9%);
}
.login-box {
    width: 350px;
    background: white;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 20px;
}
.login-box h2 {
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
}
.login-box input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn {
    width: 85%;
    padding: 10px;
    background: #f05454;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.or {
    margin: 15px 0;
    color: #09b4e5;
}
.social {
    margin-bottom: 20px;
}
.social i {
    margin: 0 8px;
    padding: 8px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.social .fa-facebook-f {
    background: #3b5998;
}

.social .fa-twitter {
    background: #1da1f2;
}

.social .fa-google-plus-g {
    background: #db4437;
}
.signup {
    font-size: 14px;
}
.signup a {
    text-decoration: none;
}
.forgot {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: #09b4e5;
    text-decoration: none;
}

