* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    width: 200px;
}
textarea {
    width: 300px;
}
button {
    width: 300px;
    background-color: green;
    color:  white;
    border-radius: 4px;
}