form {
    width: 300px;
    
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
}
button {
    width: 100%;
    height: 45px;
    background-color: #0088ff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 1s;
}
button:hover {
    background-color: red;
}