* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 20px;
    width: 100%;

}
.title {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
.title p {
    display: flex;
    gap: 10px;
}
.title a {
    text-decoration: none;
    color: white;
}
.main {
    background-color: gray;
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.main img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}
.main p {
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

h3 {
    margin-top: 20px;
}
.Project p {
    margin-top: 30px;
    
}
.Project a {
    background-color: black;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 6px;
    display: inline;
    text-align: center;
}
footer {
    margin-top: 30px;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
}
footer a {
    text-decoration: none;
    
}

