* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title {
    text-align: center;
    background-color: rgb(68, 234, 68);
    color: white;
    padding: 10px 20px;
}
.title p{
    margin-top: 10px;
}
.title a {
    margin-left: 10px;
    color: white;
}
.wrapper {
    display: flex;
    flex: 1;
}
.main {
    width: 25%;
    background-color: wheat;
    color: black;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    text-align: left;
    flex-direction: column;
}
main h3 {
    margin-bottom: 15px;
}
.main ul {
    padding-left: 0;
    margin: 0;
}
.main ul li {
    display: block;
    padding: 5px 0;
    color: black;
}
.content {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.post {
    margin-bottom: 20px;
}

.post img {
    width: 50%;
    margin: 10px 0;
    border-radius: 8px;
}
hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}
footer {
    background-color: gray;
    padding: 15px 20px;
    text-align: center;
    margin-top: 20px;
}
