* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.images {
    position: relative;
    width: 90%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}
.images img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1;
    width: 90%;
}

.title a {
    background-color: red;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.images .title a {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    z-index: 10;
}

.title h1 {
    color: whitesmoke;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title h3 {
    color: blue;
    font-size: 30px;
    font-weight: normal;
}

