* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    position: relative;
    height: 100vh;
}
.container{
    width: 600px;
    border: 1px solid #dadada;
    position: relative;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    max-width: 100%;
    height: auto;
}
.title {
     margin-top: 20px;
    text-align: center;
}

