* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.container h2 {
    text-align: center;
    margin-bottom: 24px;
}
.input-group {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}
.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
}
.input-group button {
    background-color: hsl(211.06deg 100% 50%);
    border-radius: 8px;
    border: 1px solid ;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    
}

.input-group button:hover {
    background-color: hsl(211, 98%, 38%);
}
.search {
    margin-bottom: 16px;
}
.search input{
    width: 204px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
}
table {
    width: 100%;
    background-color: #f9fafb;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
}
th {
    font-size: 18px;
    font-weight: 600;
}
td button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
    font-size: 13px;
}

td button:first-child {
    background-color: #facc15;
}

td button:last-child {
    background-color: #ef4444;
    color: #ffffff;
}

td button:first-child:hover {
    background-color: #eab308;
}

td button:last-child:hover {
    background-color: #dc2626;
}
