* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

.row1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.col-1 { flex: 1; }
.col-2 { flex: 2; }
.col-3 { flex: 3; }

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input::placeholder {
    color: #aaa;
}

select {
    background-color: #fff;
}


button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0b5dd7c0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table thead {
    background-color: #f1f1f1;
}

.table th,
.table td {
    border: 1px solid hsl(0deg 0% 95.69%);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.table th {
    font-weight: bold;
}


.table button {
    width: auto;
    padding: 5px 8px;
    margin: 0 2px;
    font-size: 13px;
    border-radius: 4px;
}

.table button.edit {
    background-color: rgb(239 239 239);
    color: #000;
}

.table button.delete {
    background-color: rgb(239 239 239);
    color: #000;
}

.table button.edit:hover {
    background-color: #007bff;
}

.table button.delete:hover {
    background-color: #ff021b;
}

