* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
}

h1 {
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-box button {
  width: 45px;
  border: none;
  background: #b388ff;
  color: #fff;
  font-size: 26px;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  background: #f2f2f2;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  cursor: pointer;
}

li button {
  background: #e74c3c;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  background: #8e44ad;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
