* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    color: white;
    height: 50px;
}
.image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.link {
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.link a {
    color: white;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 100px;
    color: white;
    background-color: gray;
}
.title {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    
}
.item {
    width: calc(50% - 10px);
    text-align: center;
    line-height: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: beige;

}
.large {
    width: calc(100% - 10px);
}
@media screen and (max-width: 1024px) {
    .item {
        width: calc(100% - 10px);
    }
    
}
