* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0deg 0% 100%);
    position: relative;
    height: 50px;
    padding: 10px 50px;
}
.navbar-end {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logo {
    margin-left: 10px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-right .usd {
    color: hsl(214.29deg 2.98% 53.92%);
}
.navbar-right .usa-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.profile-menu {

}
.profile-summary {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.avatar-image {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid transparent;    
}

.avatar {
}
.username {
}
.arrow {
}
.dropdown {
     display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: #333;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown li a:hover {
    background-color: #f0f0f0;
}

.profile-menu:hover .dropdown {
    display: block;
}
.main {
    display: flex;
    
}
.main {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: hsl(240deg 11.11% 98.24%);
}
.main-left {
}
.main-header {
    font-size: 15px;
    color: hsl(220, 3%, 21%);
    padding: 10px;
    margin-bottom: 15px;
}
.current {
    color: hsl(214, 3%, 49%);
}
.main-left h1 {
    margin-bottom: 30px;
    font-size: 35px;
}
.main-left h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.input-box {
    margin-bottom: 15px;
    background-color: hsl(240deg 10% 96.08%);
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 700px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input-box label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.box-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(210deg 2.7% 56.47%);
    margin-bottom: 20px;
}
.fa-regular {
}
.fa-pen-to-square {
}
.creadit-image {
}
.input-full {
}
.col {
}
.check-box {
}
.button {
}
